@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 87%
  );
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

ul {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
/* * {
  border: 1px solid red;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-clamp {
    display: -webkit-box; /* Використання flex-контейнера для багаторядкового обрізання */
    -webkit-line-clamp: 2; /* Вказує кількість рядків (тут 3 рядки) */
    -webkit-box-orient: vertical; /* Орієнтація контейнера по вертикалі */
    overflow: hidden; /* Ховає зайвий текст */
    text-overflow: ellipsis; /* Додає три крапки (...) після обрізання */
  }
  .icon-wrapper {
    @apply flex size-10 items-center justify-center rounded-lg border transition-colors hover:bg-blue-50 hover:text-blue-600 focus:outline-none sm:size-12;
  }
  /* Carousels */
  .custom-wrapper .splide__track {
    @apply rounded-lg border;
  }
  .custom-wrapper .splide__arrows {
    @apply flex w-full items-center justify-center gap-2;
  }
  .custom-wrapper .splide__arrows .splide__pagination {
    position: static !important;
  }
  .custom-wrapper .splide__track {
    @apply my-2;
  }
  .custom-wrapper .splide__slide > div {
    border-right: 1px solid #e2e8f0;
  }
  .splide__arrow.splide__arrow--prev,
  .splide__arrow.splide__arrow--next {
    position: static;
    background: none;
    cursor: pointer;
    transform: translateY(0);
  }
  .custom-wrapper .splide__arrow {
    @apply flex size-8 items-center justify-center rounded-full border transition-colors hover:bg-sky-50 hover:text-blue-600 focus:outline-none sm:size-10;
  }
  .custom-wrapper .splide__arrow svg {
    @apply !rotate-0 fill-none text-blue-600;
  }

  .custom-wrapper .splide__pagination li .splide__pagination__page {
    @apply bg-blue-200;
  }
  .custom-wrapper .splide__pagination li .splide__pagination__page.is-active {
    @apply bg-blue-600;
  }
  /* --------- */
  /* Main block */
  .main-image div {
    background: url("/main/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    -webkit-mask-image: url("/main/splash.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    @apply h-[360px] w-[620px];
  }

  .features {
    overflow-x: auto;
    @apply flex gap-2 rounded-lg border bg-white;
  }
  .features > li {
    @apply relative !min-w-32 gap-4 px-3 py-2 lg:p-4;
  }
  .features > li:not(:last-child) {
    @apply border-r;
  }

  .bg-category {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      140deg,
      rgba(255, 255, 255, 1) 14%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  /* Listing product items */
  .list-items {
    --gap: 2px;
    --line-thickness: 1px;
    --line-offset: calc(var(--gap) / 2);
    --line-color: #e2e8f0;
    align-items: stretch;
    @apply grid grid-cols-2 flex-wrap gap-[var(--gap)] overflow-hidden rounded-b-lg border md:grid-cols-3 xl:grid-cols-4;
  }
  .list-item {
    @apply relative p-px;
  }
  .list-item:before,
  .list-item:after {
    content: "";
    position: absolute;
    background: var(--line-color);
  }
  .list-item:after {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
  }
  .list-item:before {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-block-start: calc(var(--line-offset) * -1);
    inset-inline-start: 0;
  }
  /* --------------------- */

  /* Загальний стиль скролбару */
  .cart-block::-webkit-scrollbar {
    width: 6px; /* Ширина вертикального скролбару */
    height: 6px; /* Висота горизонтального скролбару */
  }
  .cart-block::-webkit-scrollbar-track {
    background: oklch(0.977 0.013 236.62);
    border-radius: 12px;
  }
  .cart-block::-webkit-scrollbar-thumb {
    background: oklch(0.705 0.015 286.067);
    border-radius: 12px;
  }
  .cart-block::-webkit-scrollbar-thumb:hover {
    background: oklch(0.609 0.126 221.723);
    transition: all 0.5s;
  }

  .cart-block::-webkit-scrollbar-corner {
    background: transparent;
  }

  /*  ----- input ------ */
  :root {
    --color-valid: oklch(0.627 0.194 149.214);
    --color-invalid: oklch(0.637 0.237 25.331);
  }

  /* ----- input ------ */
  :root {
    --color-valid: oklch(0.627 0.194 149.214);
    --color-invalid: oklch(0.637 0.237 25.331);
  }

  .input-group {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .input-group label {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  @media (min-width: 768px) {
    .input-group label {
      font-size: 1rem;
    }
  }

  .input-group select,
  .input-group input {
    width: 100%;
    border-radius: 0.5rem;
    border-width: 2px;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    font-size: 1.125rem;
    outline: none;
  }

  .input-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
  }

  .input-group select::-ms-expand {
    display: none; /* Ховаємо стрілку в IE/Edge */
  }

  .input-group select:user-valid,
  .input-group select:user-invalid {
    background-image: none;
  }

  .input-group select:user-invalid,
  .input-group input:user-invalid {
    border-color: var(--color-invalid);
  }

  .input-group select:user-valid,
  .input-group input:user-valid {
    border-color: var(--color-valid);
  }

  .input-group select:user-invalid + span::before,
  .input-group input:user-invalid + span::before,
  .input-group select:user-valid + span::before,
  .input-group input:user-valid + span::before {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
  }

  .input-group select:user-invalid + span::before,
  .input-group input:user-invalid + span::before {
    content: "❌";
    color: var(--color-invalid);
  }

  .input-group select:user-valid + span::before,
  .input-group input:user-valid + span::before {
    content: "✅";
    color: var(--color-valid);
  }

  .input-group select:user-invalid ~ .input-group__error,
  .input-group input:user-invalid ~ .input-group__error {
    color: var(--color-invalid);
    opacity: 1;
  }

  .input-group input[type="radio"] {
    appearance: none;
    display: inline-grid;
    place-items: center;
    width: 1rem;
    height: 1rem;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 50%;
  }

  .input-group input[type="radio"]::after {
    content: "#";
  }

  .input-group .input-group__error {
    font-size: 0.875rem;
    opacity: 0;
    transition: opacity 0.5s;
  }

  /* ------------------ */
  /* --- accardion --- */
  .accardion-details {
    /* @apply grid; */
  }
  .accordion-summary {
    @apply relative cursor-pointer list-none;
  }
  .accordion-summary::marker,
  .accordion-summary::-webkit-details-marker {
    @apply hidden;
  }
  .accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    @apply grid transition-all duration-300 ease-in-out;
  }
  .accordion-content-body {
    overflow: hidden;
    @apply px-[2px] py-px;
  }
  .accordion-details[open] + .accordion-content {
    grid-template-rows: 1fr;
  }

  /* ------------------ */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
